---
import projects from "../collections/projects.json";
import PageHeading from "../components/page-heading.astro";
//import Project from "../components/project.astro";
import Layout from "../layouts/main.astro";
import Video from "../components/Video.astro";
---

<Layout title="My Projects">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="نمونه کارهای من"
      description="این نمونه کارها، پروژهایی هست که در طول 3 سال تجربه در زمینه ادیت و موشن گرافی درستشون کردم"
    />

    <div
      class="z-50 grid items-stretch w-full grid-cols-1 my-8 gap-7 sm:gap-5 sm:grid-cols-2"
    >
      {
        projects.map((project) => {
          return (
            <Video
              src={project.url}
              
              class="w-full rounded-2xl object-cover shadow-lg outline-2 outline-gray-500/75 outline-offset-2 outline-dashed"
              
              name={project.name}
              description={project.description}
            />
          );
        })
      }
    </div>
  </section>
</Layout>
