---
import projects from "../../collections/projects-home.json";
import Button from "../button.astro";
//import Project from "../project.astro";
import Video from "../../components/Video.astro";
---

<section class="max-w-3xl mx-auto px-7 lg:px-0">
  <h2
    class="text-2xl font-bold leading-10 tracking-tight text-neutral-900 dark:text-neutral-100"
  >
    نمونه کارام
  </h2>
  <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
    اینا کارهای برگزیدم هستن که دستت بیاد چه کاری از دستم برمیاد.
  </p>
  <div
    class="grid h-full grid-cols-2 sm:grid-cols-1 md:grid-cols-2 gap-10 mt-7"
  >
    {
      projects.map((project) => {
        return (
          <Video
            src={project.url}
            class="rounded-xl drop-shadow-xl border-[3px] border-gray-800"
            name={project.name}
            description={project.description}
          />
        );
      })
    }
  </div>

  <div class="flex items-center  justify-center w-full py-5">
    <Button text="تمام نمونه کارارو اینجا ببین!" link="/projects" />
  </div>
</section>
