---
const { src, name, description, class: className } = Astro.props;
const type = src.split(".").pop() || "webm";
---

<main class="flex flex-col gap-3 items-center">
  <p class="text-gray-800 font-semibold text-xl center">{name}</p>

  <div style="position: relative;">
    <span style="display: block;padding-top: 6%"></span>
    <iframe
      class:list={["scale-125 top-0 left-0 w-auto h-full", className]}
      src={src}
      allowFullScreen="true"
      webkitallowfullscreen="true"
      mozallowfullscreen="true">
    </iframe>
  </div>
  <div class="m-5"></div>
</main>
